@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 249, 249, 249;
  --color-rgb: 0, 0, 0;
}

@font-face {
  font-family: Dana;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/dana-light.ttf") format("truetype");
}

@font-face {
  font-family: Dana;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/dana-medium.ttf") format("truetype");
}

@font-face {
  font-family: Dana;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/dana-demibold.ttf") format("truetype");
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--color-rgb));
  direction: rtl;
  font-family: "Dana", Arial, sans-serif;
}

@layer base {
  .primary-button {
    @apply transition-all duration-500 ease-in-out px-5 py-2.5 flex items-center rounded gap-x-2 text-white bg-primary-blue hover:text-primary-blue hover:bg-bg-200;
  }

  .secondary-button {
    @apply text-text-200 bg-bg-200 px-5 py-2.5 flex items-center rounded hover:bg-primary-blue hover:text-white gap-x-2 transition ease-in-out duration-500;
  }

  .ouline-white-button {
    @apply flex items-center gap-x-2 cursor-pointer px-5 py-1.5 border border-white rounded hover:border-gray-300 transition ease-in-out duration-500;
  }
}
