@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 249, 249, 249;
  --color-rgb: 0, 0, 0;
}

@font-face {
  font-family: Dana;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/dana-light.ttf") format("truetype");
}

@font-face {
  font-family: Dana;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/dana-medium.ttf") format("truetype");
}

@font-face {
  font-family: Dana;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/dana-demibold.ttf") format("truetype");
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--color-rgb));
  direction: rtl;
  font-family: "Dana", Arial, sans-serif;
}
